.header__menu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: center;
  font-size: 15px;
  background: #1e1e1e;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: #fff;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
  color: #00adee;
}
